@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="col-lg-6">
        <h3>Ejercicios</h3>
        <ul>
            <li>@Html.ActionLink("Ejercicio 1 - Calendario de Facturación", "Index", "Home", new { Area = "Ejercicio1" }, new { })</li>
            <li>@Html.ActionLink("Ejercicio 2 - Pirámide de Pascal", "Index", "Home", new { Area = "Ejercicio2" }, new { })</li>
            <li>@Html.ActionLink("Ejercicio 3 - Manejador de Archivos", "Index", "Home", new { Area = "Ejercicio3" }, new { })</li>
            <li>@Html.ActionLink("Ejercicio 4 - Agenda", "Index", "Home", new { Area = "Ejercicio4" }, new { })</li>
            <li>@Html.ActionLink("Ejercicio 5 - Cookies", "Index", "Home", new { Area = "Ejercicio5"}, new { })</li>
            <li>@Html.ActionLink("Ejercicio 6 - Sesión", "Index", "Home", new { Area = "Ejercicio6"}, new { })</li>
            <li>@Html.ActionLink("Ejercicio 7 - Sitio de noticias, Cookies & Sesión", "Index", "Home", new { Area = "Ejercicio7"}, new { })</li>
            <li>@Html.ActionLink("Ejercicio 10 - Sitio Web Master Page", "Index", "Home", new { Area = "Ejercicio10" }, new { })</li>
        </ul>
    </div>
</div>